body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

section {
    padding: 50px 0;
    color: #2c3e50;
}

.different {
    background-color: #1abc9c;
    color: white;
}

.separator::before,
.separator::after {
    content: '';
    width: 10%;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}
/*---------regole generiche----------*/
/*---------inizio nav----------*/
.navbar.navbar-default.navbar-fixed-top {
    border: 0;
    background-color: #2c3e50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav li a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}

.fa-bars {
    color: white;
}
/*------------fine nav------------*/
/*------------main------------*/
main {
    padding-top: 50px;
}
/*------------inizio section intro------------*/
.avatar {
    max-width: 240px;
}

.separator {
    margin: 20px;
}

.fa-star {
    font-size: 32px;
}

.separator::before,
.separator::after {
    content: '';
    width: 10%;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.separator .fa-star {
    vertical-align: middle;
    margin: 0 10px;
}

section.different .separator::before,
section.different .separator::after {
    background-color: white;
}

.text-intro {
    font-size: 20px;
}
/*-----------fine section intro------------*/
/*-----------inizio section portfolio-------------*/
.portfolio-img {
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*---------inizio section about-----------*/
.text-about {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;
}

.btn-default {
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 16px 28px;
    font-size: 20px;
    outline: 0;
}

.btn-default:hover {
    background-color: white;
    color: #2c3e50;
}
/*----------fine section about-----------*/
/*----------inizio section contact----------*/
.input-contact-container {
    padding: 0 50px;
    margin: 20px;
}

.input-contact {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 236, 239);
}

.input-text {
    font-size: 24px;
    color: #2c3e50;
    padding: 40px 0;
    width: 100%;
    border: 0;
    outline: 0;
}

.button-send-container {
    padding: 0 50px;
}

.send-button {
    padding: 16px 28px;
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
    border-radius: 8px;
    color: white;
    font-size: 20px;
    outline: 0;
}

.send-button:hover {
    background-color: #159a80;
    border-color: #148f77;
}
/*-----------fine section contact------------*/
/*-----------inizio footer-------------*/
.footer-container {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #2c3e50;
    color: white;
}

.footer-container h3 {
    padding-top: 20px;
}

.footer-container p {
    font-size: 20px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-dribbble {
    padding: 20px;
    margin-bottom: 20px;
    margin: 0 5px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    background-color: #2c3e50;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-dribbble:hover {
    background-color: white;
    color: #2c3e50;
}

.footer-link {
    color: rgb(26, 188, 156);
}

.footer-link:hover {
    color: #159a80;
}
/*---------fine footer-----------*/
/*---------media query----------*/
@media scree and (min-widht: 768px) {
    .portfolio-img {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 22px;
    }

    section {
        padding: 100px 0;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }

}
